body {
    font-family: Times New Roman;
    background-color: #eaeaea;
}

header {
    background-color: lightblue;
    padding: 10px;
    border: 2px solid black;
}

nav ul {
    list-style-type: none;
    background-color: gray;
    padding: 5px;
}

nav ul li {
    display: inline-block;
    margin-right: 5px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    color: red;
}

section {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

footer {
    background-color: lightblue;
    margin-top: 20px;
    padding: 5px;
    text-align: center;
}

/* Login */
.login-box {
    width: 250px;
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
    background-color: white;
}

/* Dashboard */
.dashboard .box {
    display: inline-block;
    width: 150px;
    height: 100px;
    border: 2px solid black;
    margin: 10px;
    padding: 5px;
    background-color: white;
}

/* Table */
table {
    border: 2px solid black;
    width: 80%;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}
